<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Portfolio | Byron Vanstien</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/vue-material.min.css">
    <link rel="stylesheet" type="text/css" href="./css/vue-material-default.min.css">
    <link rel="stylesheet" type="text/css" href="./css/main.css">

    <style>
        /* Center the content a little */
        div.wrapper {
            margin: 0 15% 0 15%;
        }
        /* show some space under last card on mobile devices */
        @media only screen and (max-width: 720px) {
            body {
                margin-bottom: 3%;
            }
        }
    </style>
</head>
<body>
    <!-- Vue/VueMaterial Required JavaScript -->
    <script src="./js/vue.min.js"></script>
    <script src="./js/vue-material.min.js"></script>

    <!-- Div for Vue to bind to -->
    <div id="vue-root">
        <md-app md-waterfall md-mode="fixed">
            <md-app-toolbar style="background-color: #506ed2;">
                <span class="md-title" style="color: #FFFEEE;">Byron Vanstien</span>
            </md-app-toolbar>
        </md-app>


        <!-- Wrapper for project information stuff-->
        <div class="wrapper" style="margin-top: 0.5%;">

            <div class="md-layout md-gutter">
                <div class="md-layout-item" v-for="project in projects">
                    <md-card md-with-hover style="margin-top: 2%;">
                        <md-card-header>
                            <div class="md-title">{{ project.name }}</div>
                            <div class="md-subhead">{{ project.tagline }}</div>
                        </md-card-header>
                        <md-card-content>
                            {{ project.description }}
                            <br>
                            <br>
                            <b style="display: block;">Technologies Used</b>
                            <md-chip style="margin-bottom: 1.5%; margin-top: 1.5%;" v-for="technology in project.technologies">{{ technology }}</md-chip>
                        </md-card-content>
                        <md-card-actions>
                            <md-button :href=`${project.url}`>Visit Repository</md-button>
                        </md-card-actions>
                    </md-card>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/project.js"></script>
    <script>
        // Setup Vue for VueMaterial
        Vue.use(VueMaterial.default);

        function requestProjectJSON () {

            let req = new XMLHttpRequest();
            let respText;

            req.onreadystatechange = function() {
                if (req.readyState == 4 && req.status == 200) {
                    respText = req.responseText;
                }
            }

            req.open("GET", "https://recchan.moe/projects.json", false);
            req.send();

            return respText;
        }

        function automateProjectCreation () {
            /**
             * @param {array} list
             */

            let rawProjectData = requestProjectJSON();

            let parsedProjectData = JSON.parse(rawProjectData);

            let ret = new Array();

            for (let i = parsedProjectData.length - 1; i >= 0; i--) {
                ret.push(new Project(parsedProjectData[i]))
            }

            return ret;
        }



        new Vue({
            el: "#vue-root",
            data: {
                projects: automateProjectCreation()
            }
        });
    </script>
</body>
</html>
